#contact {
    margin-top: 100px;
}

h2 {
    color: whitesmoke;
}

form {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    margin: 20px 400px 40px 400px;
}

input, textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.name, .email {
    width: 250px;
}

label {

}

textarea {
    height: 259px;
}

label {
    margin-top: 10px;
    text-align: left;
}

.submit {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 5px;
    background-color:whitesmoke;
    color:rgb(14, 30, 29);
}

